{% extends 'career/template.html' %}
{% load static from staticfiles %}
{% block head %}
{% endblock head %}
{% block body %}
    <body class="blog list-style">
        {% include 'career/nav.html' %}
		<main role="main">
			<div id="intro-wrap"  data-height="31.667">
                <div id="intro" class="preload darken"  data-autoplay="5000" data-navigation="true" data-pagination="true" data-transition="fadeUp">
					<div class="intro-item "   style="background-image: url({% static 'career/img/news/新闻.jpg' %});">
						<div class="caption full">
							<span style="font-size: 35px;font-weight: bolder; border: 2px solid white; padding: 5px 10px">Materials collecting Department
</span>
                            <p>集思广益，与时俱进，只为带来更真实的文字。
</p>
						</div><!-- caption -->
					</div>
                    <div class="intro-item "   style="background-image: url({% static 'career/img/news/新闻2.jpg' %});">
						<div class="caption full">
							<span style="font-size: 35px;font-weight: bolder; border: 2px solid white; padding: 5px 10px">Materials collecting Department
</span>
                            <p>集思广益，与时俱进，只为带来更真实的文字。
</p>
						</div><!-- caption -->
					</div>
				</div><!-- intro -->
			</div><!-- intro-wrap -->

			<div id="main" class="row">
				<div class="row-content buffer-left buffer-right buffer-bottom clear-after">
					<div class="column nine">
                        {% if Passage %}
                            {% for p in Passage %}
                                <article class="clear-after">
                                    <div class="column three">
                                        <figure><a href="/news/{{ p.id }}"><img src="media/{{ MEDIA_URL }}{{ p.passage_img }}" alt=""></a></figure>
                                    </div><!-- column three -->
                                    <div class="column nine last">
                                        <h2><a href="/news/{{ p.id }}" style="text-decoration:none">{{ p.title }}</a></h2>
                                        <h5 class="meta-post"><a href="#">文章类型</a>： <a href="#">{{ p.Type }}</a> - <time datetime="{{ p.passage_time }}">{{ p.passage_time | date }}</time></h5>
                                        <p style="font-size: 17px;">{{ p.content | slice:"80"}}</p>
                                    </div><!-- column nine -->
                                </article>
                            {% endfor %}
						{% endif %}

						<div id="pagination">
							<ul class="clear-after reset plain">
                                {% if pre %}
                                    {% for p in pre %}
								    <li id="older" class="pagination-nav"><a href="/allnews/{{ p.id }}" class="button transparent aqua"><i class="fa fa-chevron-left"></i><span class="label"></span></a></li>
								    {% endfor %}
                                {% else %}
                                    <li id="older" class="pagination-nav"><a href="javascript:;" class="button transparent aqua disabled" disabled="disabled"><i class="fa fa-chevron-left">&nbsp;&nbsp;暂无</i></a></li>
                                {% endif %}
                                {% if next %}
                                    {% for n in next %}
                                        <li id="newer" class="pagination-nav"><a href="/allnews/{{ n.id }}" class="button transparent aqua"><span class="label"></span><i class="fa fa-chevron-right"></i></a></li>
							        {% endfor %}
                                {% else %}
                                    <li id="newer" class="pagination-nav"><a href="javascript:;" class="button transparent aqua disabled" disabled="disabled"><span class="label"></span>暂无<i class="fa fa-chevron-right"></i></a></li>
                                {% endif %}
                            </ul>
						</div>
					</div><!-- column nine -->
					<aside role="complementary" class="sidebar column three last">
						<div class="widget widget_search">
							<form role="search">
								<span class="pre-input"><i class="icon icon-search"></i></span>
								<input type="text" placeholder="Search..." value="" class="plain buffer">
							</form>
						</div>
						<div class="widget">
							<h4>新闻</h4>
							<div class="textwidget">
                                闻中有新，妙笔生花，务实求真，一根笔杆，一双眼睛，一对耳朵，用心去听，用心去写，用全部力气和心血造就的每篇新闻。文字即力量。
							</div><!-- la class="textwidget" è forse generata automaticamente da wp -->
						</div>
						<div class="widget">
							<h4>杂志板块</h4>
							<ul class="plain">
                                {% if Magazine %}
                                    {% for m in Magazine %}
								        <li>
                                            <a href="#" style="text-decoration: none">
                                                <a href="{{ m.magazine }}"><img src="media/{{ MEDIA_URL }}{{ m.cover }}" alt=""></a>
                                                <span><a href="{{ m.magazine }}" style="text-decoration: none">{{ m.title }}</a></span>
                                            </a>
                                        </li>
                                        <br>
								    {% endfor %}
                                {% endif %}
							</ul>
						</div>
					</aside>
				</div><!-- row-content -->
			</div><!-- row -->
		</main><!-- main -->
    {% include 'career/footer.html' %}
    </body>
{% endblock body %}