<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        #time{
            width: 186px;
            position: relative;
            margin: 10% auto;
        }
        #d{
            width: 186px;
           
            margin: -5% auto;
        }
    </style>
</head>

<body>
    <div id="time"><img src="../../static/career/img/yes.jpg" alt="" width="70px" height="50px">提交成功</div>
    <div id="d">页面将在5秒内跳转到首页</div>
     
    <script>
        var count = 4;
        var t;
        function writeTip() {
            document.getElementById("d").innerText = "页面将在" + (count--) + "秒内跳转到首页";
            if (count == 0) {
                window.clearInterval(t);
                window.location = "/index";
            }
        }
        t = window.setInterval("writeTip()", 1000);
    </script>

</body>

</html>