{% extends 'career/template.html' %}
{% load static from staticfiles %}
{% block head %}
    <link href="{% static 'career/css/video-js.min.css' %}" rel="stylesheet">
    <style>
    #youkuplayer{
        width: 950px;
        height: 400px;
    }
    @media screen and (max-width: 650px){
        #youkuplayer{
            width: 360px;
            height: 200px;
        }
    }
    </style>
{% endblock head %}

{% block body %}
      <body class="single single-post">
    {% include 'career/nav.html' %}
		<main role="main">
			<div id="intro-wrap"  data-height="31.667">
                <div id="intro" class="preload darken" data-autoplay="5000" data-navigation="true" data-pagination="true" data-transition="fadeUp">
					<div class="intro-item "   style="background-image: url({% static 'career/img/news/摄影.jpg' %});">
						<div class="caption full">
							<span style="font-size: 35px;font-weight: bolder; border: 2px solid white; padding: 5px 10px">Materials collecting Department
</span>
                            <p>记录现场事实，捕捉精彩瞬间，带来艺术享受就是我们的最终目标。
</p>
						</div><!-- caption -->
					</div>
                    <div class="intro-item "   style="background-image: url({% static 'career/img/news/摄影2.jpeg' %});">
						<div class="caption full">
							<span style="font-size: 35px;font-weight: bolder; border: 2px solid white; padding: 5px 10px">Materials collecting Department
</span>
                            <p>记录现场事实，捕捉精彩瞬间，带来艺术享受就是我们的最终目标。
</p>
						</div><!-- caption -->
					</div>
				</div><!-- intro -->
			</div><!-- intro-wrap -->
			<div id="main" class="row">
				<div class="row-content buffer-left buffer-right buffer-bottom">
					<div id="post-nav">
						<ul class="clear-after reset plain">
                            {% if pre %}
                                {% for p in pre %}
							    <li id="prev-items" class="post-nav"><a href="/vedio/{{ p.id }}"><i class="fa fa-chevron-left"></i><span class="label">Prev</span></a></li>
                                {% endfor %}
                            {% else %}
                                <li id="prev-items" class="post-nav">--</li>
                            {% endif %}
                            <li id="all-items" class="post-nav"><a href="/allvedio"><i class="icon icon-images"></i></a></li>
                            {% if next %}
                                {% for n in next %}
							    <li id="next-items" class="post-nav"><a href="/vedio/{{ n.id }}"><span class="label">Next</span><i class="fa fa-chevron-right"></i></a></li>
						        {% endfor %}
                            {% else %}
                                <li id="prev-items" class="post-nav">--</li>
                            {% endif %}
                        </ul>
					</div>

					<div class="post-area clear-after">
						<article role="main">
                            {% for v in Vedio %}
							<h5 class="meta-post"><a href="#">视频来源：</a><a href="#">{{ v.vedio_source }}</a> - <time datetime="{{ v.vedio_time }}">{{ v.vedio_time | date }}</time></h5>
							<h1 style="text-align: center">{{ v.vedio_name }}</h1>
                            <div class="single">
                                <div id="youkuplayer"></div>
                                    <script type="text/javascript" src="//player.youku.com/jsapi"></script>
                                    <script type="text/javascript">
                                    var player = new YKU.Player('youkuplayer',{
                                    styleid: '0',
                                    client_id: 'bba75f02eb5c8131',
                                    vid: '{{ v.vedio_url }}',
                                    newPlayer: true
                                    });
                                    </script>
                            </div>
						    {% endfor %}
                        </article>

					</div><!-- post-area -->

                    <br>

					<div class="related clear-after">
						<h4>热点资讯</h4>
						{% if PSG %}
                            {% for p in PSG %}
                                {% if forloop.last %}
                                    <div class="item last">
                                        <figure><img src="media/{{ MEDIA_URL }}{{ p.passage_img }}" alt=""></figure>
                                        <a class="overlay" href="/news/{{ p.id }}">
                                            <div class="overlay-content">
                                                <div class="post-type"><i class="icon icon-search"></i></div>
                                                <h2>{{ p.title }}</h2>
                                                <p>文章来源：{{ p.source }}</p>
                                            </div><!-- overlay-content -->
                                        </a><!-- overlay -->
                                    </div>
                                {% else %}
                                    <div class="item">
                                        <figure><img src="media/{{ MEDIA_URL }}{{ p.passage_img }}" alt=""></figure>
                                        <a class="overlay" href="/news/{{ p.id }}">
                                            <div class="overlay-content">
                                                <div class="post-type"><i class="icon icon-search"></i></div>
                                                <h2>{{ p.title }}</h2>
                                                <p>文章来源：{{ p.source }}</p>
                                            </div><!-- overlay-content -->
                                        </a><!-- overlay -->
                                    </div>
                                {% endif %}

                            {% endfor %}
                        {% else %}
                            <span>暂无资讯</span>
                        {% endif %}
					</div>

				</div><!-- row-content -->
			</div><!-- row -->
		</main><!-- main -->
    {% include 'career/footer.html' %}
      </body>
{% endblock body %}
